footer {
  background-color: #B2BEB5;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 15px;
  height: 3.5vh;
  border-top: .5px solid black;
  opacity: .9;
}
.icon-container {
  text-align: center;
}
footer p {
  padding-bottom: 20px;
  font-size: 1vh;
  font-weight:bold;
}
.mid-icon {
    padding-right: 1vw;
    padding-left: 1vw;
}
